
header{
    width:100%;
    height: 90px;
    transition: all .5s;
}
header nav {
    width:100%;
    height: 100%;


    display: flex;
     justify-content: center;
     align-items: center;
    background: #66b9df;
    
}
header nav img {
    width:100%;
    max-width: 110px;
    margin-right: 10%;
}
header nav ul {
    text-decoration: none;
    width:70%;
    height: 30%;
    display: flex;
    font-size: 1rem;
}
header nav ul li {
    list-style-type: none;
    width:30%;
    height: 200%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}
header nav ul li:hover{
    background-color:#e0faff; 
    transition:   background-color 700ms ;
}
main{
    width:100%;
    height: 100vh;

    padding:5%;
    display: flex;
     flex-direction: column;
}
.filho:not(:first-child) {
    margin-top: 700px;
}
.pai{
    width:100%;
    height: 100vh;
}
.filho h3{
    font-size:3rem ;
}
.cards {
    width:100%;
    height: 90vh;
    margin-bottom:30px ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;
}


.card{
    width:18%;
    height: 100%;
    min-width: 200px;
    min-height: 300px;
    margin: 1%;

    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    box-shadow:0 0 5px 0px #e2e2e2;
    cursor: pointer;

}
.card:hover{
    top:-4px;
    box-shadow:0 4px 4px #999;
    transition: all .2s ease-in-out
}
.card img{
    width:100%;
    max-width: 162px;
}
.card h3{
    font-size: 1rem;
}
.card p{
    font-size: 1rem;
}
.page{
    width:40%;
    height:70%;
    position:fixed;
    left: 30%;
    top: 20%;
    display: flex;
    flex-direction:column;
     align-items: center;
     justify-content: space-between;
    z-index: 12;
    background:#4ABDAC;
}
.page .card{
    height: 70%;
    width: 50%;
}
.dow{
    width:50%;
    height:10%;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    position: relative;
    top: -57px;
    left: 50px;
}
